[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = data transfer project
[access "refs/*"]
	owner = group user/jnnorthway
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/jnnorthway
	label-Verified = -1..+1 group user/jnnorthway
	push = group user/jnnorthway
	read = group user/jnnorthway
	rebase = group user/jnnorthway
	removeReviewer = group user/jnnorthway
	submit = group user/jnnorthway
[access "refs/heads/*"]
	create = group user/jnnorthway
	push = +force group user/jnnorthway
	pushMerge = group user/jnnorthway
	read = group user/jnnorthway
[access "refs/tags/*"]
	push = group user/jnnorthway
	push = +force group user/jnnorthway
