[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = data transfer project
[access "refs/*"]
	owner = group user/James Northway (jnnorthway)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/James Northway (jnnorthway)
	label-Verified = -1..+1 group user/James Northway (jnnorthway)
	push = group user/James Northway (jnnorthway)
	read = group user/James Northway (jnnorthway)
	rebase = group user/James Northway (jnnorthway)
	removeReviewer = group user/James Northway (jnnorthway)
	submit = group user/James Northway (jnnorthway)
[access "refs/heads/*"]
	create = group user/James Northway (jnnorthway)
	push = +force group user/James Northway (jnnorthway)
	pushMerge = group user/James Northway (jnnorthway)
	read = group user/James Northway (jnnorthway)
[access "refs/tags/*"]
	push = group user/James Northway (jnnorthway)
	push = +force group user/James Northway (jnnorthway)
